/* ----------------------
       main things
-----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  padding: 30px; /* temp solution */
}
button {
  padding: 1em 0;
}
.hide {
  display: none;
}
/* ---------------------------------------
        aside (top nav and footer)  
----------------------------------------*/
aside {
  height: 70px; /* temp solution */
}
aside > * {
  font-size: 19px; /* temp solution */
}
aside > button {
  position: absolute;
  left: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
#notificationButton {
  left: auto;
  right: 0;
}
#userProfile {
  text-align: left;
}
#notification {
  text-align: right;
}
#userButton {
  border: none;
}
aside div[id] {
  width: 100%;
  position: relative;
  top: 70px;
  z-index: 2;
}
form#signIn > * {
  display: block;
  width: 100%;
  background: #eee;
  border: none;
  text-decoration: underline;
}
/* -----------------------
        main  
------------------------*/
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
section {
  position: relative;
  height: 300px;
  border: 1px solid black;
}
section > div:not(#actionForm) {
  /* actionForm is React element */
  position: relative;
  margin-left: 50%;
  margin-top: 150px;
  transform: translate(-50%, -50%);
  text-align: center;
}
section button {
  display: block;
  width: 100%;
  margin: 10px 0;
  background-color: whitesmoke;
}

/* -----------------------
        template 
------------------------*/
/* -----------------------
        template 
------------------------*/
